<mat-toolbar color="primary">
    <button class="menu" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon> menu </mat-icon>
      </button>
      <span>Tarefas</span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav #sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/pages/cadastrar-tarefa/"> 
            <div class="item">
                <mat-icon class="icon"> add </mat-icon>
                <span> Cadastrar tarefa </span>
            </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/pages/listar-tarefas/"> 
            <div class="item">
                <mat-icon class="icon"> list </mat-icon>
                <span> Listar tarefas </span>
            </div>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/pages/listar-nao-concluidas/"> 
            <div class="item">
                <mat-icon class="icon"> list </mat-icon>
                <span> Listar Não Conluidas </span>
            </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>

<mat-sidenav-content class="content">
    <router-outlet>
    </router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
